[run]
branch = False
omit =
    tests/*
    examples/*
    scripts/*
    supergraph/deprecated.py
    supergraph/evaluate.py
    supergraph/open_colors.py

[report]
exclude_lines =
    pragma: no cover
    pass
    if TYPE_CHECKING:
    raise
